@{
    ViewData["Title"] = "Consulta da melhor rota";
}

<div class="text-center">
    <h1 class="display-4"> Consulta</h1>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#searchModal">Consultar</button>
</div>

<!-- Modal de busca -->
@Html.Partial("_SearchModal")